@import "../../style.scss";

.leftBar {
  flex: 2;
  position: sticky;
  top: 72px;
  height: calc(100vh - 72px);

  @include mobile {
    display: none;
}


    .container {
      padding: 20px;

      .sidebarFriendList {
        padding: 0;
        margin: 0;
        list-style: none;
      }

      .sidebarFriend {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
      }
      
      .sidebarFriendImg {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
      }
    

      hr {
        margin: 20px 0px;
        border: none;
        height: 0.5px;
        background-color: lightgray;
      }

      .menu {
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
          font-size: 12px;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-size: 14px;
          }
        }

        .item {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 30px;
          }

          span {
            font-size: 14px;
          }
        }
      }
    }
  
}